{
    admin off
    auto_https off
    log {
        output stdout
        format json
        level INFO
    }
}

:80 {
    root * {$WEB_DOCUMENT_ROOT:/var/www/html/public}
    encode zstd gzip

    # Basic WAF & Security Rules
    @hiddenFiles path */.* *.env* *.git* *.sql* *.bak* composer.json* composer.lock*
    respond @hiddenFiles "Access Denied by WarpPanel WAF" 403

    # FastCGI PHP-FPM support
    php_fastcgi {$PHP_FPM_UPSTREAM:php-fpm:9000} {
        trusted_proxies private_ranges
    }

    # Static file server
    file_server
}
